body {
  background-color: #12232e;
  font-family: "Courier New", Courier, monospace;
}
.nav {
  overflow: hidden;
  background-color: #12232e;
  float: right;
  margin-right: 15%;
  margin-top: 1%;
  font-weight: 500;
}

.nav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.nav a:hover {
  background-color: #12232e;
  color: #a52a2a;
}
.home {
  float: right;
  margin-right: 7%;
  box-shadow: 0 0 45px 0px rgba(0, 187, 255, 0.833);
  padding: 0.5px 0.5px;
  cursor: pointer;
  transition: transform 0.5s;
}

/* img {
  border-radius: 5%;
} */
h2 {
  color: white;
  font-size: 200%;
  margin-left: 3%;
  margin-top: 5%;
}

h3 {
  text-align: start;
  margin-left: 3%;
  font-weight: 100;
  font-size: 100%;
  color: #eaebff;
}

h4 {
  color: #a52a2a;
}
.btn {
  display: inline-block;
  background: #a52a2a;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid #a52a2a;
  font-size: 16px;
  color: ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 7%;
}
.btn:hover {
  background: #a52a2a;
}
a {
  color: white;
}

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 70px;
  box-shadow: 0 0 40px 0px rgba(132, 63, 63, 0.971);
  cursor: pointer;
  transition: transform 0.4s;
  background-color: #eaebff;
  box-shadow: 0 0 40px 0px rgba(0, 187, 255, 0.833);
}
.testimonial .col-3 img {
  width: 90px;
  margin: 20px;
  border-radius: 100%;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}
.fa.fa-quote-left {
  font-size: 34px;
}
.col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #12232e;
}
.testimonial .col-3 h3 {
  font-weight: 600;
  color: #a52a2a;
  font-size: 16px;
}
/*-------Brands-------*/
.col-3 {
  flex-basis: 5%;
  min-width: 28px 0;
  margin-bottom: 30px;
  align-items: center;
  margin-top: 7%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

p {
  color: #eaebff;
  text-align: center;
  margin-top: 5%;
}

/* ... (Blog post styling) ... */
.blog-container {
  max-width: 1100px;
  margin: 20px auto;
  background-color: #eaebff;
  box-shadow: 0 0 40px 0px rgba(0, 187, 255, 0.833);
  padding: 20px;
  margin-top: 5%;
}

.blog-container h1 {
  color: #a52a2a;
  text-align: center;
}

.blog-meta {
  color: #12232e;
  margin-top: 0px;
}

.blog-image {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.blog-content p {
  color: #12232e;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: auto;
  text-align: justify;
  margin-right: 20px;
  margin-left: 20px;
  font-size: 16px;
}

/* ... (Blog Post styling styles) ... */
